@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: var(--Quicksand);
  color: #333;
  margin: 0;
}
:root{
  --Quicksand: "Quicksand", sans-serif;
  background-color: #f5f3f3;
}
h2{
  color: #f1356d;
  font-size: 1.25rem;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #d0d0d0;
  max-width: 600px;
}
.navbar h1{
  color: #f1356d;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog previews */
.blog-preview{
  border-bottom: 1px solid #dedede;
  padding: 10px 16px;
  margin: 20px 0;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview a{
  text-decoration: none;
}
.blog-preview h2{
  margin-bottom: 8px;
}

/* Blog details page */
.blog-details h2{
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  color: #f1356d;
  background: #f5f3f3;
  border: 1px solid #f1356d ;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
}
.blog-details button:hover{
  color: #f5f3f3;
  background: #f1356d;
}

/* Create new blog */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create h2{
  margin-bottom: 20px;
}
.create label{
  text-align: left;
  display: block;
}
.create input, .create textarea{
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 6px 10px;
  border-radius: 2px;
}
.create button{
  background: #f1356d;
  color: #fff;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
}
input:focus, textarea:focus{
  outline-color: #f1356d3f;
  outline-width: initial;
  outline-style: solid;
}

/* Not-found */
.not-found img{
  max-width: 600px;
  height: auto;
}